*.mp4
/bin/*
!/bin/config-sample/
!/bin/api/
.DS_Store
.idea
*.bat
.yarn
tool/launch/launch
log/
.vscode/
*.log
node_modules/
package-lock.json
package.json
tool/synclang/synclang
/tool/t1games/
/tool/pg
tool/natsclient/natsclient
/config/_config_last_err.json
